<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>011</display-name>

	<servlet>
		<servlet-name>lerParametros</servlet-name>
		<servlet-class>nassau.LerParametros</servlet-class>
		<init-param>
			<param-name>email</param-name>
			<param-value>pac.alexandre.costa@gmail.com</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>lerParametros</servlet-name>
		<url-pattern>/LerParametros</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>acessoParametro</servlet-name>
		<servlet-class>nassau.AcessoParametro</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>acessoParametro</servlet-name>
		<url-pattern>/AcessoParametro</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>bancoDados</servlet-name>
		<servlet-class>nassau.BancoDados</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bancoDados</servlet-name>
		<url-pattern>/EnderecoBanco</url-pattern>
		<url-pattern>/DBAddress</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>enderecoBD</param-name>
		<param-value>127.0.0.1</param-value>
	</context-param>
</web-app>