<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>026</display-name>

	<servlet>
		<servlet-name>ExemploConfig</servlet-name>
		<jsp-file>/ExemploConfig.jsp</jsp-file>
		<init-param>
			<param-name>email</param-name>
			<param-value>pac.alexandre.costa@gmail.com</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExemploConfig</servlet-name>
		<url-pattern>/ExemploConfig.jsp</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>bancoDados</param-name>
		<param-value>192.168.25.1</param-value>
	</context-param>

</web-app>